---
import Layout from "../layouts/Layout.astro";

import cv from "../data/data.json";
---

<Layout title="Inici">
	<style>
		h1.principal {
			font-weight: 100;
			font-family: "Segoe UI", sans-serif;
			text-align: center;
			font-size: 5em;
			color: rgb(182, 182, 182);
		}
	</style>
	<div class="row">
		<div class="col-12">
			<h1 class="principal">{cv.personal.nom}</h1>
		</div>
	</div>
</Layout>
