---
import Layout from "../layouts/Layout.astro";

import cv from "../data/data.json";
---

<Layout title="Inici">
	<h1 class="principal">Presentació</h1>
	<div class="row">
		<div class="col-6">
			<div class="indexContent">
				<p>Experiència en gestió i supervisió de processos a l'àmbit gràfic i editorial. Ús professional de ferramentes informàtiques i amb gran capacitat de comunicació i tracte amb les persones. M'agrada ampliar els meus coneixements i adquirir noves habilitats que em permetin adaptar-me a qualsevol camp. Actualment estic formant-me com a desenvolupador web.</p>
			</div>
		</div>
		<div class="col-6">
			
		</div>
	</div>
</Layout>
